.div-new {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    line-height: 1.9;
    color: #8c8c8c;
    position: relative;
}

label {
    color: #73be64;
}

.form-con {
    background: linear-gradient(#b3e6aecc, #f1f1f1, rgb(189, 231, 183));
}



.heading {
    font-size: 2.5rem;
    font-weight: 900;
}

.from-cont {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;
}

.from-cont:active,
.from-cont:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.col-form-label {
    color: #000;
    font-size: 13px;
}

.btn-1,
.from-cont,
.custom-select {
    height: 45px;
    border-radius: 0;
}

.custom-select {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}

.custom-select:active,
.custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.btn-1 {
    border: none;
    border-radius: 0;
    font-size: 11px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border-radius: 30px !important;
}

.btn-1.btn-1-primary {
    border-radius: 30px;
    background: #ef4339;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
    box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
}

.btn-1:hover {
    color: #fff;
}

.btn-1:active,
.btn-1:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(205, 247, 165, 0.658);
    box-shadow: 0 0px 20px 0 rgba(219, 245, 195, 0.774);
    border: 1px solid #cbf0c4;
}

.contact-wrap .col-form-label {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0 0 10px 0;
    display: inline-block;
    padding: 0;
}

.contact-wrap .form,
.contact-wrap .contact-info {
    padding: 40px;
}

.contact-wrap .contact-info {
    color: rgba(255, 255, 255, 0.5);
}

.contact-wrap .contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
}

.contact-wrap .contact-info ul li .wrap-icon {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
}

.contact-wrap .form {
    background: #fff;
}

.contact-wrap .form h3 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact-wrap .contact-info {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.contact-wrap .contact-info a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width: 1199.98px) {
    .contact-wrap .contact-info {
        height: 400px !important;
    }
}

.contact-wrap .contact-info h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}

label.error {
    font-size: 12px;
    color: red;
}

#message {
    resize: vertical;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

h4 {
    color: #55A44E;
}

blockquote {
    padding: 10px;
    margin-top: 5px;

}