<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-4" href="{% url 'products' %}" id="all-products-link"
                aria-haspopup="true" aria-expanded="false">All Products</a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>


            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-4"
                href="{% url 'products' %}?category=sofa,tv_unit,coffee_table" onclick="hashy(Living-room.value)"
                value="LIVING ROOM" id="Living-room" aria-haspopup="true" aria-expanded="false">living Room</a>
            <div class="dropdown-menu border-0" aria-labelledby="Living-room">
                <a href="{% url 'products' %}?category=sofa" onclick="hashy(Sofa.innerHTML)" id="Sofa"
                    class="dropdown-item">Sofa </a>
                <a href="{% url 'products' %}?category=tv_unit" class="dropdown-item">Tv Unit</a>
                <a href="{% url 'products' %}?category=coffee_table" class="dropdown-item">Coffee Table</a>


            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-4"
                href="{% url 'products' %}?category=beds,matressess,wardrobes" id="bedroom" aria-haspopup="true"
                aria-expanded="false">Bedroom</a>
            <div class="dropdown-menu border-0" aria-labelledby="bedroom">
                <a href="{% url 'products' %}?category=beds" class="dropdown-item">Beds </a>
                <a href="{% url 'products' %}?category=matressess" class="dropdown-item">Matresses</a>
                <a href="{% url 'products' %}?category=wardrobes" class="dropdown-item">Wardrobes</a>


            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-4"
                href="{% url 'products' %}?category=dinning_tables,dinning_chair,dinning_set"
                data-target="{% url 'products' %}?category=dinning_tables,dinning_chair,dinning_set" id="Dinning-room"
                aria-haspopup="true" aria-expanded="false">Dinning Room</a>
            <div class="dropdown-menu border-0" aria-labelledby="Dinning-room">
                <a href="{% url 'products' %}?category=dinning_tables" class="dropdown-item">Dinning Table </a>
                <a href="{% url 'products' %}?category=dinning_chair" class="dropdown-item">Dinning Chair</a>
                <a href="{% url 'products' %}?category=dinning_set" class="dropdown-item">Dinning Set</a>

            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-4"
                data-target="{% url 'products' %}?category=Desk,office_chair"
                href="{% url 'products' %}?category=desk,office_chair" id="Study" aria-haspopup="true"
                aria-expanded="false">Study</a>
            <div class="dropdown-menu border-0" aria-labelledby="Study">
                <a href="{% url 'products' %}?category=desk" class="dropdown-item">Desk </a>
                <a href="{% url 'products' %}?category=office_chair" class="dropdown-item">Office Chair</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-4"
                href="{% url 'products' %}?category=ceiling_lamp,table_lamp,floor_lamp" id="Lighting"
                aria-haspopup="true" aria-expanded="false">Lighting</a>
            <div class="dropdown-menu border-0" aria-labelledby="Accessories">
                <a href="{% url 'products' %}?category=ceiling_lamp" class="dropdown-item">Ceiling Lamp</a>
                <a href="{% url 'products' %}?category=table_lamp" class="dropdown-item">Table Lamp</a>
                <a href="{% url 'products' %}?category=floor_lamp" class="dropdown-item">Floor Lamp</a>


            </div>

        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mx-4"
                href="{% url 'products' %}?category=candles_and_holders,throws_and_blankets,ornamental_items"
                id="Accessories" aria-haspopup="true" aria-expanded="false">Accessories</a>
            <div class="dropdown-menu border-0" aria-labelledby="Lighting">
                <a href="{% url 'products' %}?category=candles_and_holders" class="dropdown-item">Candles and
                    Holders</a>
                <a href="{% url 'products' %}?category=throws_and_blankets" class="dropdown-item">Throws and
                    blankets</a>
                <a href="{% url 'products' %}?category=ornamental_items" class="dropdown-item">Ornamental items</a>


            </div>
        </li>
    </ul>
</div>