<!DOCTYPE html>
<html lang="en">

{% load static %}


<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap"
        rel="stylesheet">
    {% endblock %}

    <link rel="shortcut icon" type="image/jpg" href="media/favicon.ico" />
    <title>
        {% block title %}
        Supreme Furnitures
        {% endblock %}
    </title>
    {% block extra_meta%}
    {% endblock %}

    {% block corecss %}

    <link rel=" stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="https://supremefurnitures.s3.amazonaws.com/static/css/base.css" />

    {% endblock%}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src=" https://kit.fontawesome.com/392ae530c6.js" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}


    <title>Supreme Furnitures {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <a class="rotate btn text-white" href="{% url 'review' %}feedback">Feedback</a>

    <a class="contact-btn btn text-white" href="{% url 'review' %}contact">contact</a>

    <header class="container-fluid p-0 m-0 fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'store' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0" style="font-family: 'bitter', lato, sans-serif">
                        <strong>SUPREME</strong>
                        &nbsp;FURNITURES</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            <!-- {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                            {% endif %} -->
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mx-2 d-lg-none" href="https://supremefurnitures.herokuapp.com/">
                    <img src="https://supremefurnitures.s3.amazonaws.com/static/media/favicon.png" width="40"
                        height="40" alt="">
                </a>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
                <a
                    style="font-size: smaller; text-decoration: none; color:#244922; padding-right:10px">{{request.user.email}}</a>


            </nav>
        </div>
        <div class="d-flex justify-content-around p-2 "
            style="background-color: #244922; color: white; align-items: center;">
            <p class="m-0 n-txt text-center">Free Delivery <br> N. Ireland / Ireland</p>
            <p class="m-0 n-txt text-center">Great Quality<br>Guranteed </p>
            <p class="m-0 n-txt text-center">Quick &amp; Easy <br> Checkout</p>
        </div>
    </header>
    <div id="" style="background-color: #244922;" class="d-flex  m-0 p-0 text-center d-sm-none d-lg-block">
        <div class="row m-2">
            <div class="col-4 fs-auto text-light">Free Delivery <br>N. Ireland / Ireland
            </div>
            <div class="col-4 fs-auto text-light">Great Quality <br>Guaranteed</div>
            <div class="col-4 fs-auto text-light">Quick &amp; Easy <br>Checkout</div>

        </div>
    </div>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}

    </div>
    {% endif %}

    {% block boldy %}
    {% endblock %}

    {% block page_header %}

    {% endblock %}
    <div class="d-block">

        {% block slider %}

        {% endblock %}
    </div>
    <div class="container header-container m-0">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>


    {% block content %}

    {% endblock %}

    <!-- Footer side -->
    <div class="container-flex my-5 p-lg-3 justify-content-center-sm text-center position-relative"
        style="background-color: ;">
        <div class="row  m-auto">
            <div class="col-lg-6 p-3 text-center m-auto">
                <div class="card m-auto  shadow-none">
                    <div class=" card-body border rounded ">
                        <h5 class=" card-title text-left my-2"> <strong> <u>About Us</u> </strong></h5>
                        <h6 class="card-subtitle text-left ">&nbsp;</h6>
                        <p class="card-text text-justify" style="line-height: 1.75; text-indent:10%">At <span>
                                <strong>
                                    Supreme Furnitures</strong> </span>, we take great pride in
                            design and hand-craftsmanship of our products. Our in-house designers create
                            time honed designs. The expert craftsmen, some of them even from the fourth generations of
                            furniture and sofa makers,
                            who have been working for the Royalty in Ireland, transform these designs into timeless
                            products. Our designs blend
                            contemporary sensibilities with traditions of excellence in craftsmanship and quality. Our
                            products whether a Sofa, a
                            Chair, a Coffee table or Soft furnishings are made in Ireland to the most exacting standards
                            and
                            designed in styles, so
                            that they bring exceptional beauty to your home.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'review' %}feedback"
                            class=" btn btn-success m-auto float-left d-block text-light"> <strong>REVIEW US
                                >>></strong> </a>
                    </div>
                </div>
            </div>

            <!-- Footer side -->
            <div class="col-lg-6 p-3  text-center">
                <div class="card m-auto border rounded">
                    <div class="card">
                        <img src="https://supremefurnitures.s3.amazonaws.com/static/media/bedroomy.jpg" alt=""
                            class="card-img">
                        <div class="card-img-overlay">
                            <div>

                                <h3 class="card-title text-warning float-left p-2"><strong
                                        class="text-warning p-1 rounded">SUPREME
                                        FURNITURES</strong>
                                </h3>
                                <h6 class="card-subtitle text-warning float-left p-2"><q>One stop shop for all
                                        your
                                        furniture
                                        Requirements</q>
                                </h6>
                            </div>

                        </div>
                        <div class="card-img-overlay mt-5">

                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'account_signup' %}" class=" btn btn-success m-auto float-left d-block
                            text-light"> <strong> <u>REGISTER NOW</u> >>> </strong>
                        </a>
                        <a href="{% url 'account_login' %}"
                            class=" btn btn-warning d-block float-right text-dark m-auto">
                            <strong> <u>DISCOUNT CODE UPTO
                                    60%
                                    OFF</u></strong>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <button id="back-to-top" class="btn float-right" onclick="goup()">Back To Top</button>

    <!-- FOOTER--------------------------------- -->
    <div class="container-flex my-5">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #dbdbdb">
            <!-- Grid container -->
            <div class="container">
                <!-- Section: Links -->
                <section class="mt-5 d-flex">
                    <!-- Grid row-->
                    <div class="row text-center d-flex justify-content-center pt-5">
                        <!-- Grid column -->
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{% url 'review' %}aboutus" class="text-dark">About us</a>
                            </h6>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{% url 'products' %}" class="text-dark">Products</a>
                            </h6>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{% url 'review' %}review_page" class="text-dark">Reviews</a>
                            </h6>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{% url 'review' %}contact" class="text-dark">Help</a>
                            </h6>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{% url 'review' %}contact" class="text-dark">Contact</a>
                            </h6>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="my-5" />

                <!-- Section: Text -->
                <section class="mb-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <p class="text-dark">
                                Thank you! Visit us Again....
                            </p>
                        </div>
                    </div>
                </section>
                <!-- Section: Text -->

                <!-- Section: Social -->
                <section class="text-center mb-5">
                    <a href="https://www.facebook.com/login.php" class="border rounded text-dark m-1 p-4">
                        <i style="font-size: 30px;" class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/i/flow/login" class="border rounded text-dark m-1 p-4">
                        <i style="font-size: 30px;" class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.google.com/" class="border rounded text-dark m-1 p-4">
                        <i style="font-size: 30px;" class="fab fa-google"></i>
                    </a>
                    <a href="https://www.instagram.com/" class="border rounded text-dark m-1 p-4">
                        <i style="font-size: 30px;" class="fab fa-instagram"></i>
                    </a>

                </section>
                <!-- Section: Social -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2020 Copyright:
                <a class="text-black" href="https://supremefurnitures.com/">supremefurnitures.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>

    {% block postloadjs %}
    <!-- Card Navigations -->
    <script type="text/javascript">
        $('.toast').toast('show');
        $('#living_room').click(function () {
            window.location.href = "{% url 'products' %}?category=sofa,tv_unit,coffee_table";
        });
        $('#dinning_room').click(function () {
            window.location.href = "{% url 'products' %}?category=dinning_tables,dinning_chair,dinning_set";
        });
        $('#bed_room').click(function () {
            window.location.href = "{% url 'products' %}?category=beds,matressess,wardrobes";
        });
        $('#accessories').click(function () {
            window.location.href =
                "{% url 'products' %}?category=candles_and_holders,throws_and_blankets,ornamental_items";
        });
    </script>
    <!-- Card navigations -->
    {% endblock %}

    <script>
        function navigateto(a) {
            window.location.href = a;
        }

        function goup() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>