{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta%}
    {% endblock %}

    {% block corecss %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="/static/css/base.css?{% now U %}" />

    {% endblock%}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/392ae530c6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Supreme Furnitures {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <a class="rotate btn text-white" href="{% url 'products' %}review/feedback">Feedback</a>

    <a class="contact-btn btn text-white" href="{% url 'products' %}review/contact">contact</a>

    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'store' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>SUPREME</strong> &nbsp;FURNITURES</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}


            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <div class="sellingpoints__desktop">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-sm sellingpoints__desktop__item">Free Delivery <br>N. Ireland / Ireland
                            </div>
                            <div class="col-sm sellingpoints__desktop__item">Great Quality <br>Guaranteed</div>
                            <div class="col-sm sellingpoints__desktop__item">Quick &amp; Easy <br>Checkout</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}

    </div>
    {% endif %}

    {% block page_header %}
    <div class="container header-container m-0">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    {% endblock %}


    {% block content %}

    {% endblock %}
    <div class="container-flex mt-5 p-3 text-center" style="background-color: ;">
        <div class="row  m-auto">
            <div class="col-lg-6 p-3 text-center m-auto">
                <div class="card m-auto  shadow-none">
                    <div class=" card-body border rounded ">
                        <h5 class=" card-title text-left my-2"> <strong> <u>About Us</u> </strong></h5>
                        <h6 class="card-subtitle text-left ">&nbsp;</h6>
                        <p class="card-text text-justify" style="line-height: 2.9; text-indent:10%">At <span>
                                <strong></strong>
                                Supreme Furnitures</strong> </span>, we take great pride in
                            design and hand-craftsmanship of our products. Our in-house designers create
                            time honed designs. The expert craftsmen, some of them even from the fourth generations of
                            furniture and sofa makers,
                            who have been working for the Royalty in Ireland, transform these designs into timeless
                            products. Our designs blend
                            contemporary sensibilities with traditions of excellence in craftsmanship and quality. Our
                            products whether a Sofa, a
                            Chair, a Coffee table or Soft furnishings are made in Ireland to the most exacting standards
                            and
                            designed in styles, so
                            that they bring exceptional beauty to your home.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'products' %}review/feedback"
                            class=" btn btn-success m-auto float-left d-block text-light"> <strong>REVIEW US
                                >>></strong> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-3  text-center">
                <div class="card m-auto border rounded">
                    <div class="card ">
                        <img src="/media/bedroomy.jpg" alt="" class="card-img">
                        <div class="card-img-overlay">
                            <h3 class="card-title float-left text-warning">SUPREME FURNITURES</h3>

                        </div>
                        <div class="card-img-overlay mt-5">
                            <h6 class="card-subtitle float-left ">One stop shop for all your furniture
                                Requirements
                            </h6>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'account_signup' %}" class=" btn btn-success m-auto float-left d-block
                            text-light"> <strong> <u>REGISTER
                                    NOW</u> >>> </strong>
                        </a>
                        <a href="{% url 'account_signup' %}" class=" btn btn-warning float-right text-dark m-auto">
                            <strong> <u>DISCOUNT CODE UPTO
                                    60%
                                    OFF</u></strong>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row m-0 border-top bg-light text-light">
        <div class="col-md-6 col-lg-8 p-5 m-0">
            <p class="copyright text-secondary">
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved.
            </p>
        </div>
        <div class="col-md-6 col-lg-4 p-5">
            <p class="copyright text-secondary">Owned by<i class="bi bi-hearts text-success"
                    style="color: #244922;"></i> <a href="https://supremefurniture.com" target="_blank"
                    style="color: #244922;">Supremefurnitures.com</a>
            </p>
        </div>
    </div>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
        $('#living_room').click(function () {
            window.location.href = "{% url 'products' %}?category=sofa,tv_unit,coffee_table"
        });
    </script>
    {% endblock %}

</body>

</html>