{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/contact.css?{% now U %}" />
{% endblock %}


{% block content %}
<div class="content mx-5">

    <div class="container p-5">
        {% if a %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Thank you!</strong> {{a}} &#128151;
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div class="row align-items-stretch no-gutters contact-wrap">
            <div class="col-md-12">
                <div class="form h-100">
                    <h3>SHARE UR FEEDBACK</h3>
                    <h5></h5>
                    <form class="mb-5 " method="post" id="contactForm" name="contactForm">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="" class="col-form-label">First Name *</label>
                                <input type="text" class="form-control" name="firstname" id="cname"
                                    placeholder="First name" required>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="" class="col-form-label">Last Name *</label>
                                <input type="text" class="form-control" name="lastname" id="email"
                                    placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="" class="col-form-label">Occupation *</label>
                                <input type="text" class="form-control" name="occupation" id="email"
                                    placeholder="Occupation">
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="" class="col-form-label">Email *</label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Your email"
                                    required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group mb-3">
                                <label for="message" class="col-form-label">Feedback *</label>
                                <textarea class="form-control" name="feedback" id="message" cols="30" rows="4"
                                    placeholder="Write your message" required></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="submit" value="Send Feedback"
                                    class="btn-1 btn-success rounded-0 py-2 px-4">
                                <span class="submitting"></span>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script>

</script>
{% endblock %}