{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% block title %}
products
{% endblock %}

{% endblock %}
{% block content %}
<div class="containert header-container"></div>
<div class="container-fluid  mt-5">
    <div class="row">
        <div class="col text-center mt-2">
            <h2 class="logo-font" id="logo-font">Products</h2>

            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{% static 'media/{{product.image}}' %}"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}

                                    {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                        5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-sm-none md-5">

                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-lg-none d-md-block md-5">

                    <hr>
                </div>

                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none md-5">

                    <hr>
                </div>

                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block md-5">

                    <hr>
                </div>

                {% endif %}
                {% endfor %}




            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);

        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
<script type="text/javascript">
    if ("onhashchange" in window) {
        //alert("Hash changed");
        aaa = ""
        url_1 = window.location.href;
        console.log("received ur;" + url_1)
        if (url_1.split("=")[1]) {
            head_line = url_1.split("=")[1];
            head_line = head_line.replace('+', " ")
            if (head_line.includes("&")) {
                head_line = "By " + head_line.split("&")[0]
            }
        }
        console.log("headline" + url_1)


        function e(n) {
            switch (n) {
                case 'beds,matressess,wardrobes':
                    return "BEDROOM"
                case 'dining_tables,dining_chair,dining_set':
                    return "DINING ROOM"
                case 'desk,office_chair':
                    return "STUDY"
                case 'ceiling_lamp,table_lamp,floor_lamp':
                    return "LIGHTING"
                case 'sofa,tv_unit,coffee_table':
                    return "LIVING ROOM"
                case "candles_and_holders,throws_and_blankets,ornamental_items":
                    return "ACCESSORIES"
            }
        }
        console.log("head_line1", head_line.indexOf(","), head_line);
        console.log("head_line2", head_line.indexOf("%20"), head_line);

        if (head_line.indexOf(",") > 0) {
            aaa = e(head_line);
            console.log("0" + aaa)
        } else if (head_line.indexOf("%20") > 0) {
            head_line = head_line.replace("%20", " ");
            aaa = head_line;
            console.log("1" + aaa);
        } else if (url_1.indexOf("%2C") > 0) {
            if (url_1.indexOf("price") > 0) {
                aaa = "BY PRICE"
            } else if (url_1.indexOf("rating") > 0) {
                aaa = "BY RATING";
            } else if (url_1.indexOf("name") > 0) {
                aaa = "BY NAME"
            } else if (url_1.indexOf("category") > 0) {
                aaa = "BY CATEGORY"
            }
        } else if (head_line.indexOf("_") > 0) {
            head_line = head_line.replace("_", " ");
            head_line = head_line.replace("_", " ");
            aaa = head_line;
            console.log("2" + aaa)
        } else {
            aaa = head_line;
            console.log("3" + aaa)
        }
        //alert("aaaaaaaaaaaa" + aaa)
        document.getElementById('logo-font').innerHTML = aaa;
    }
</script>
{% endblock %}